
<link rel="stylesheet" href="~/css/news.css" />
@model UserViewModel
<!--
    todo: determine layout of User Profile
    todo: create a User Dashboard where users can select options to view/change their profiles/other information
    todo: Change H1 heading to display Username instead of User
-->
@{
    User currentUser;
    string userDisplayValue = "User";
    if (Model.UserDetail is not null)
    {
        currentUser = @Model.UserDetail;
        if (string.IsNullOrEmpty(currentUser.Fname) is not true)
        {
            userDisplayValue = currentUser.Fname;
        }
        else
        {
            userDisplayValue = "";
        }
    }
    else
    {
        currentUser = new();
    }

}

<div>
    <h1>Welcome @userDisplayValue!</h1>
    <form id="userForm" asp-action="Edit" method="post">
        <label for="uName">User Name:</label><br />
        <input type="hidden" id="UserName" name="uName" value="@currentUser.UserName" readonly /><br />
        <label for="uID">User ID:</label><br />
        <input type="text" id="Id" name="Id" value="@currentUser.Id" readonly size="40" /><br />
        <label for="fName">First Name:</label><br />
        <input type="text" id="fName" name="fName" value="@currentUser.Fname" /><br />
        <label for="lName">Last Name:</label><br />
        <input type="text" id="lName" name="lName" value="@currentUser.Lname" /><br />
        <label for="address">Address:</label><br />
        <input type="text" id="address" name="address" value="@currentUser.Address" /><br />
        <label for="city">City:</label><br />
        <input type="text" id="city" name="city" value="@currentUser.City" /><br />
        <label for="state">State:</label>
        <select id="state" name="state" value="@currentUser.State">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
        </select><br />
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>
    </form>
</div>