@{
    News news = Model.NewsDetail;
    if (news is null)
    {
        news = new();
    }
}
<div class="news-Form">
    <form id="newsForm" asp-action="Edit" method="post">
        
        <div class="form-group">
            <label for="headline">Headline: </label><br />
            <input type="text" id="headline" name="headline" required value="@news.Headline"/>
        </div>


        <label for="content">Article content: </label><br />
        <textarea rows="4" cols="50" id="content" name="content" form="newsForm" placeholder="Insert article content here" required>@news.Content</textarea><br />

        <label for="content">Article summary: </label><br />
        <textarea rows="4" cols="50" id="summary" name="summary" form="newsForm" placeholder="Insert a brief summary to appear below the headline on the News Index here" required>@news.Summary</textarea>


        <div class="form-group">
            <label for="author">Author: </label><br />
            <input type="text" id="author" name="Author" required placeholder="Please insert your first and last name. Ex: John Doe" value="@news.Author"/>
        </div>

        <input type="hidden" id="PublishDate" name="PublishDate" value="@news.PublishDate" />
        <input type="hidden" id="articleID" name="ArticleId" value="@news.ArticleId" />
        <input type="hidden" id="viewCount" name="ViewCount" value="@news.ViewCount" />
        <button type="submit" class="btn btn-primary">Submit</button>

        @if (ViewBag.Status == "Edit")
        {
            <a asp-area="Admin" asp-controller="News" asp-action="Delete" asp-route-id="@news.ArticleId" class="btn btn-danger">Delete</a>
        }
        <a asp-area="" asp-controller="News" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>