@{
    News news = Model.NewsDetail;
}
<link rel="stylesheet" href="~/css/news.css" />

<!--
    todo: create page to let users select articles they wish to view
    todo: adjust view to pull details of requested article from outside source instead of giving each article its own page
-->

<div class="article">
    <h1 class="title">Article Title: @news.Headline</h1>
    <p>Author: @news.Author</p>
    <p>Publish Date: @news.PublishDate.ToShortDateString()</p>

    <p>@news.Content</p>
</div>

@if(User.IsInRole("Admin")){
    <a asp-area="Admin" asp-controller="News" asp-action="Edit" class="btn btn-primary" id="@news.ArticleId">Update Article</a>
}

<a asp-area="" asp-controller="News" asp-action="Index" class="btn btn-primary">Back to Index</a>