@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



@{
    User user = await UserManager.GetUserAsync(User);
    if (user is not null)
    {
        await SignInManager.RefreshSignInAsync(user);
    }
    bool userIsMember = (User.Identity.IsAuthenticated && User.IsInRole("Member"));
    Donation donation = new();
    int donationCount = 0;
    if (Model.Donations is not null && Model.Donations.Count > 0)
    {
        donationCount = Model.Donations.Count;
    }
}

<div class="donation-Form">
    <form id="donationForm" asp-action="Donate" method="post">
        <br />
        <label for="Amount">Amount:</label>
        <input type="number" id="Amount" name="Amount" />
        <br />

        <label for="Notes">Notes: </label><br />
        <textarea rows="4" cols="50" id="Notes" name="Notes" form="donationForm" placeholder="Insert notes here" required value=""></textarea>
        <br />
        <label>Card Number: </label><br />
        <input type="password" placeholder="Card number ( DO NOT ENTER)" maxlength="19" size="30"/>
        <br />
        <label>Security Code: </label><br />
        <input type="password" placeholder="Security Code ( DO NOT ENTER)" maxlength="19" size="30"/>
        <br />
        <label for="becomeMember" hidden="@userIsMember">Become a member and pay the amount selected per month:</label>
        @if (userIsMember)
        {
            <a asp-action="Unsubscribe" asp-route-userId="@user.Id">Unsubscribe</a>
        }
        <br />
        <label hidden="@userIsMember">Join</label>
        <input type="radio" name="becomeMember" value="true" hidden="@userIsMember"> 
        <label hidden="@userIsMember">Don't Join</label>
        <input type="radio" name="becomeMember" value="false" hidden="@userIsMember">
        <br />
        <label hidden="@userIsMember">Due Tier: (Cost per Month)</label>
        <select name="dueTier" hidden="@userIsMember">
            <option value = "0">$5</option>
            <option value = "1">$10</option>
            <option value = "2">$20</option>
            <option value = "3">$50</option>
            <option value = "4">$100</option>
        </select>
        <br />
        <br />
        <input type="hidden" id="DonationDate" name="DonationDate" value="@DateTime.UtcNow" />
        <input type="hidden" id="DonationId" name="DonationId" value="@donation.DonationId" />
        <input type="hidden" id="UserId" name="UserId" value="@donation.UserId" />

        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="button" class="btn btn-secondary" value="Cancel" onclick="history.back()"/>
    </form>
</div>