@{
    List<User> users = Model.Users;
}

<input type="text" placeholder="Search for user by ID, name, or email: " />

<!--
    TODO: By default, display all users ordered by UserID, 20 results per page.
-->

<table>
    <thead>
        <tr>
            <th>UserID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var u in users)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Lname</td>
                <td>@u.Fname</td>
                <td>@u.Email</td>
                <td><button class="btn btn-primary"><a asp-area="Admin" asp-controller="UserData" asp-action="Edit" asp-route-id="@u.Id" class="text-white">Edit</a></button></td>
                    <td><button class="btn btn-primary"><a asp-area="Admin" asp-controller="UserData" asp-action="Delete" asp-route-id="@u.Id" class="text-white">Delete</a></button></td>
            </tr>
        }
        </tbody>
        
</table>