@{
    List<Contact> contacts = Model.Contacts;
}

<table>
    <thead>
        <tr>
            <th>Contact Name</th>
            <th>Company</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(contacts is not null){
            @foreach(var contact in contacts){
                <tr>
                    <td>@contact.Lname, @contact.Fname</td>
                    <td>@contact.Company</td>
                    <td>@contact.Address</td>
                    <td>@contact.City</td>
                    <td>@contact.State</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@contact.ContactId" method="get" class="btn btn-primary">
                                Edit
                        </a>
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.ContactId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-area="Admin" asp-controller="Contact" asp-action="Edit" class="btn btn-primary">Add Contact</a>