@model ProjectCodeX.Models.EventViewModel

@{
    ViewData["Title"] = "Details";
    Event eventDetail = null;
    if (Model.EventDetail is not null)
    {
        eventDetail = Model.EventDetail;
    }
}

<div>
    <h4>EventViewModel</h4>
    @Html.ValidationMessageFor(evm => evm.Events)
    <hr />
    <dl class="row">
    </dl>
</div>



<div class="upcomingEvents">
    @if (eventDetail is not null)
    {
        <h1 id="title">Event Title: @eventDetail.Name</h1>
        <p>Event Date:  @eventDetail.Date.Value.ToShortDateString()</p>
        @*<p>Start Time: @eventDetail.Date.Value.ToShortTimeString()</p>*@
        <p>
            Details: @eventDetail.Notes<br>
            <b>Location:</b> @eventDetail.Location<br>
            <b>Type:</b> @eventDetail.EventType<br>
            <b>Number of Attendees:</b> @eventDetail.Attendees<br>
            <b>Amount Raised:</b> @eventDetail.AmountRaised<br>
            <b>Admission Fee:</b> @if (eventDetail.Cost > 0)
            {
                @eventDetail.Cost
            }
            else
            {
                <text>Free</text>
            }
        </p>
    }
    else
    {
        <h1>Event not found</h1>
    }

</div>

<div>
    <form asp-controller="Event" asp-action="Details" method="get">
        <p>
            Event ID: <input type="text" name="id" />
            <input type="submit" value="Search" />
        </p>
    </form>

    @if (User.IsInRole("Admin"))
    {
        <a asp-area="Admin" asp-controller="Event" asp-action="Edit" class="btn btn-primary" asp-route-id="@eventDetail.EventId">Update Event</a>
        <a asp-area="Admin" asp-controller="Event" asp-action="Delete" asp-route-id="@eventDetail.EventId" class="btn btn-danger">Delete</a>
    }
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>